#### cscms files
cscms/*

#### cache files
cache/*

#### config files
plugins/*

#### install files
.user.ini
attachment/other/backup_20170202/
packs/install/install.lock
packs/install/plub_install.lock

