#### cscms files
/cscms/

#### cache files
/cache/

#### config files
/plugins/

####
.user.ini
/attachment/music/201702/04/ZChTJN0oEYgDC2mvySq4.mp3
/attachment/
/packs/install/install.lock
/packs/install/plub_install.lock

#### others
/cache/cscms_time/time.txt
/cscms/lib/Cs_Config.php
/cscms/lib/Cs_DB.php
/plugins/dance/config/site.php
/plugins/news/config/site.php
/plugins/pic/config/site.php
/plugins/singer/config/site.php
/plugins/vod/config/site.php

