/*∏Ë ÷◊ ¡œ*/
.info{overflow: hidden;margin: 10px auto 0 auto;padding: 0 10px;width: 960px;background-color: #232323;}
.info .head{margin-top: 10px;margin-bottom: 10px;}
.info .head .more{float: right;font-size: 14px;font-weight: normal;font-family: Microsoft YaHei,Arial;}
.info .head .title{font-size: 24px;font-family: Microsoft YaHei;font-weight: normal;}
.tag a{color: #1E50A2;margin-right: 10px;}
.cDGray{float:left;width:600px;position: relative;margin-left: 10px;}
.cDGray ul li{float: left;width: 200px;margin-right: 5px;overflow: hidden;line-height: 20px;margin-bottom: 4px;color: #6e6e6e;}
.info .digest{overflow: hidden;line-height:2.2;margin-left: 10px;}
.info .digest .user{float:left;width:140px;overflow: hidden;margin-right: 21px;}
.info .digest .user p{color: #909090;font-size: 14px;font-weight: bold;text-align:center;}
.info .digest .item{width:200px;margin-right:18px;}
.info .digest p{line-height:1.8;padding-bottom:3px;}
.info .content{width: 940px;padding: 10px;line-height: 30px;margin-bottom: 10px;}

