.wrap{width: 950px;}
.auto{margin-left: auto;margin-right: auto;}
.box{overflow: hidden;}
.ads{border: 1px solid #D9D9D9;background: #FFF;text-align: center;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}

/*内容*/
.content{background-color: #fff;border-top: 1px solid #e9eaec;margin-bottom: -16px;}
/*视频*/
.video_play{width: 960px;height: 430px;background: #2a2a2a;margin: 0 auto 0px;position: relative;}
.cmp_left{float: left;width: 660px;height: 420px;padding: 5px;}
/*chief_right*/
.other_video{float:left;width:300px;height:100%;background:#3A3939;position:absolute;top:0;right:0;z-index:10;}
.other_video h1{height:48px;line-height:48px;color:#dadada;font-size:18px;text-indent:15px;overflow:hidden;}
.other_video ul{width:295px;height:365px;overflow:hidden;position:relative;}
.other_video ul li{width:265px;height:65px;margin-bottom:7px;margin-left:15px;cursor:pointer;}
.other_video ul li a{display:block;width:265px;height:65px;overflow:hidden;color:#dadada;}
.other_video ul li a img{display:block;float:left;margin:4px 12px 0 4px;_display:inline-block;}
.other_video ul li a span{display:block;height:14px;line-height:14px;float:left;width:145px;overflow:hidden;margin:3px 0;}
.other_video ul li a span.play{color:#727272;}
.other_video ul li.current{background:#555;}
.other_video ul li.current a{color:#fff;}
.other_video ul li.current a span.play{color:#fff;}
.other_video ul li.slide{background:url(../images/lide.png) no-repeat;width:10px;height:198px;position:absolute;top:0;right:0;}
/*数据*/
.left{float:left;}
.right{float:right;}
.hidden{display:none;}
.video-bar{width:950px;height:22px;padding: 10px 0px;}
.v-share{padding: 7px 0px 0px 12px;height:19px;}
.v-share-title{padding:2px 2px 0px 0px;}
.bdsharebuttonbox{height: 1px;}
.v-hits{padding:2px 0px;}
.v-hits span{font-family:georgia;font-size:18px;background:url(../images/icons.png) no-repeat;display:inline-block;color:#8d8e8e;}
.v-hits #tieCount{background-position:0 0;padding-left:24px;}
.v-hits #hits{padding-left:30px;}
/*内容摘要*/
.tag a{margin-right: 10px;}
.cDGray, .cDGray:visited, .cDGray a{color: #727171;}
.cBlue, .cBlue:visited, .cBlue a{color: #1E50A2;}
.video-digest{overflow: hidden;line-height:2.2;}
.video-digest .user{float:left;width:100px;margin-right: 15px;}
.video-digest .user a:hover{color: #1E50A2;}
.video-digest .user p{color: #909090;font-size: 14px;font-weight: bold;text-align:center;}
.video-digest .item{margin-right:18px;}
.video-digest p{line-height:1.8;padding-bottom:3px;}
.video-digest .adgg180{float: right;width: 180px;}
/*集数*/
.vod_plist{float:left;width:100%;margin-bottom:10px;}
.vod_plist .title{float:left;width:100%;height:35px;line-height:35px;font-size:20px;color:#ddd;border-bottom: 1px solid #313131;}
.vod_plist ul {float:left;width:100%;padding-top:10px;overflow: hidden;}
.vod_plist ul li{float: left;position: relative;margin-bottom:8px;}
.vod_plist ul a{background: #3b3b3b;color: #adadad;display: inline;float: left;height: 17px;line-height: 17px;margin-left: 5.6px;padding: 5px 10px;font: 12px "微软雅黑","Lucida Grande",STHeiti,Verdana,Arial,Times,serif;}
.vod_plist ul a:link{color: #adadad;text-decoration: none;}
.vod_plist ul a:visited{color: #adadad;text-decoration: none;}
.vod_plist ul a:hover{background: #e12c21;color: #ffffff;}
.vod_plist ul a:active{background: #e12c21;color: #adadad;}

